footer.footer
  .footer__inner
    div(class="socials footer__socials")
      each social in ['fb.svg', 'vk.svg', 'ig.svg', 'tw.svg', 'be.svg']
        -let link = 'assets/img/' + social 
        a(class="socials__item" href="#")
          img(src=link alt="img" class="socials__icon")
    div(class="footer-info")
      a(class="privacy-text footer-info__privacy" href="#")
        | Политика конфиденциальности
      span(class="company-info")
        img(src="assets/img/footer-img.svg" alt="img" class="company-info__img")
        | 2021 © Riverstart Digital. Все права защищены
    
