.contacts {
    background-color:  #1F2032;
    .contacts-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1920px;

        .contacts__title {
            color: $color-primary-gray;
            margin: 0px;
            padding-bottom: 16px;

            font-size: 38px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.76px;
            @include up(md) {
                font-size: 42px;
                line-height: 110%;
                letter-spacing: -0.84px;
                padding-bottom: 19px;
            }
            @include up(lg) {
                font-size: 56px;
                line-height: 120%;
                letter-spacing: -1.68px;
                padding-bottom: 36px;
            }
            @include up(xl) {
                font-size: 85px;
                letter-spacing: -2.55px;
                padding-bottom: 52px;
            }
        }
        .contacts__desc {
            color: #ffffff;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            margin: 0px;
            max-width: 330px;
            @include up(md) {
                color: #F7F7FA;
                line-height: 160%;
            }
            @include up(lg) {
                font-size: 18px;
            }
            @include up(xl) {
                font-size: 26px;
                max-width: 490px;
            }
        }
    }

    .contacts-elements {
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
        
		@include up(md) {
            gap: 0px 130px;
            flex-direction: row;
            align-items: center;
		}
		@include up(lg) {
            flex-direction: column;
            gap: 20px 0px;
            align-items: flex-start;
		}
		@include up(xl) {
		}
    }
    .contacts-element {
        display: flex;
        flex-direction: column;
        .contacts-element__preview {
            padding-bottom: 3px;
            display: flex;
            align-items: center;
            gap: 8px;
            @include up(md) {
                /* table */
            }
            @include up(lg) {
                /* table-desktop */
            }
            @include up(xl) {
                /* desktop */
            padding-bottom: 14px;
            gap: 10px;
            }
        }
        .contacts-element__link {
            display: block;

            color: $color-primary-gray;
            text-decoration: none;

            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            letter-spacing: -0.72px;
            @include up(md) {
                /* table */
            }
            @include up(lg) {
                /* table-desktop */
            }
            @include up(xl) {
                /* desktop */
                font-size: 42px;
                letter-spacing: -1.26px;
            }
        }
        .contacts-element__text {
            color: #F7F7FA;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            opacity: 0.6;
            @include up(lg) {
                font-size: 14px;
            }
            @include up(xl) {
                font-size: 18px;
            }
        }
        .contacts-element__img {
            width: 30px;
            border-radius: 8px;
            @include up(md) {
                width: 32px;
                border-radius: 100%;
            }
            @include up(lg) {
                /* table-desktop */
                width: 38px;
            }
            @include up(xl) {
                /* desktop */
                width: 56px;
            }
        }

        &.contacts-element_telegram {
            .contacts-element__preview {
                padding-bottom: 7px;
            }
            .contacts-element__link {
                order: 1;
                @include up(md) {
                    order: 2;
                }
            }
            .contacts-element__img {
                order: 2;
                @include up(md) {
                    order: 1;
                }
            }
        }
    }
}


.contacts-left-block,
.contacts-right-block {
    width: 100%;
    max-width: 100%;
    @include up(lg) {
        max-width: 50%;
    }
}
.contacts-left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px 45px 30px;
    gap: 60px 0px;
    @include up(md) {}
    @include up(lg) {
        padding: 78px 40px 0px 40px;
    }
    @include up(xl) {
        padding: 118px 209px 0px 121px;
    }
}
.contacts-right-block {
    overflow: hidden;
    background-color: #EEEFF4;
    padding: 30px 30px 65px 30px;

    @include up(md) {
        padding: 50px 40px 87px 40px;
    }
    @include up(lg) {
        padding: 100px 148px 64px 60px;
    }
    @include up(xl) {
        padding: 132px 220px 80px 92px;
    }
}

.contacts-addresses {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .contacts-addresses__wrapper {
        padding: 0px 30px 0px 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include up(md) {
            padding: 0px;
            justify-content: flex-start;
        }
    }

    &.contacts-addresses_mobile {
        padding-top: 36px;
        @include up(md) {
            padding: 48px 40px 0px 40px;
        }
        @include up(lg) {
            display: none;
        }
    }
    &.contacts-addresses_desktop {
        display: none;
        @include up(lg) {
            display: flex;
            
        }
        @include up(xl) {
        }
    }
    
}
.contacts-address {
    display: flex;
    flex-direction: column;
    gap: 11px 0px;
    margin-bottom: 42px;

    width: 100%;
    max-width: 240px;

    .contacts-address__title {
        color: #F7F7FA;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.12px;
        @include up(xl) {
            font-size: 18px;
            letter-spacing: 0.18px;
        }
    }
    .contacts-address__text {
        color: #F7F7FA;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.12px;
        opacity: 0.5;
        @include up(xl) {
            font-size: 18px;
            letter-spacing: 0.18px;
        }
    }
    .contacts-address__link {
        color: #F7F7FA;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.12px;
        opacity: 0.5;
        text-decoration: none;

        display: flex;
        align-items: center;
        gap: 0 7px;
        @include up(xl) {
            font-size: 18px;
            letter-spacing: 0.18px;
        }
    }
    .contacts-address__logo {
        width: 59px;
        @include up(lg) {
            width: 60px;
        }
        @include up(xl) {
            width: 90px;
        }
    }

    &.contacts-address_main {
        width: 100%;
        max-width: unset;
        padding: 22px 30px;
        margin: 0px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px 0px;

        position: relative;
        overflow: hidden;
        @include up(md) {
            border-radius: 24px;
        }
        @include up(lg) {
            max-width: 407px;
        }
        @include up(xl) {
            gap: 70px 0px;
            max-width: 611px;
        }
    }

    .contacts-address__header {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 11px 0px;
        position: relative;
        z-index: 2;
    }
    .contacts-address__footer {
        position: relative;
        z-index: 2;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contacts-address__bg {
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left:  0px;

        opacity: 0.05;
        background: $color-primary-gray;
    }
    .contacts-address__footer-info {
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
        @include up(lg) {
            gap: 21px 0px;
        }
        @include up(xl) {
            gap: 29px 0px;
        }
    }
    .contacts-address__footer-info-link {
        color: $color-primary-gray;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.15px;
        opacity: 1;
        gap: 0px 5px;

        @include up(xl) {
            gap: 0px 7px;
            font-size: 23px;
            letter-spacing: 0.23px;
        }
    }
    
    @include up(md) {
        margin-bottom: 32px;
    }
    @include up(lg) {
        margin-bottom: 44px;
    }
    @include up(xl) {
        gap: 15px 0px;
        margin-bottom: 64px;
    }
}