.footer {
  $root: &;

  margin-top: auto;

  background: $color-gray;
  padding-top: 2rem;
  padding-bottom: 2rem;

  
  background-color: #1F2032;
  padding: 0px;

  &__inner {
    @extend .container;

    display: flex;
      flex-direction: column;
      max-width: unset;
      padding: 74px 30px 24px 30px;
      @include up(md) {
        flex-direction: row;
        justify-content: space-between;
        padding: 105px 40px 40px 40px;
      }
      @include up(lg) {
        padding: 78px 80px 76px 80px;
      }
      @include up(xl) {
        padding: 115px 120px 110px 120px;
    }
  }

  .footer__socials {
    order: 1;
    padding-bottom: 80px;
    width: 100%;

    @include up(md) {
      order: 2;
      max-width: 50%;
      padding-bottom: 0px;
    }
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px 34px;
  order: 2;
  width: 100%;
  @include up(md) {
    order: 1;
    max-width: 50%;
  }
}