

.our-clients {
	
	overflow: hidden;
}


.swiper {
	&.swiper-client {
		height: 570px;
		padding-left: 30px;
		width: 60%;
		margin-left: unset;
		overflow: visible;
		padding-bottom: 170px;
	
		.swiper-button-next,
		.swiper-button-prev {
			width: 92px;
			height: 92px;
			border-radius: 100%;
			background-color: #312DFF;
			cursor: pointer;
			user-select: none;
			display: none;
			position: absolute;
			top: unset;
			left: unset;
			bottom: 10px;
			z-index: 9;
			gap: 48px;
			align-items: center;

			@include up(lg) {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			@include up(xl) {
                bottom: 147px;
            }
			&:after {
				display: none;
			}
		}

		.swiper-button-next {
			.swiper-button-img {
				transform: scale(-1, 1);
			}
			@include up(lg) {
				right: 54px;
			}
            @include up(xl) {
                right: 6%;
            }
		}
		.swiper-button-prev {
			@include up(lg) {
				right: calc(6% + 140px);
			}
		}
	
		.swiper-slide {
			display: flex;
			justify-content: center;
			background: none;
			align-items: flex-start;
	
			height: calc((100% - 90px) / 3) !important;
	
			display: flex;
			justify-content: center;
			align-items: center;
			@include up(md) {
				height: calc((100% - 60px) / 2) !important;
			}
		}
		@include up(md) {
			padding-left: 40px;
		}
		@include up(lg) {
			width: 100%;
			padding-left: 80px;
		}
		@include up(xl) {
			height: 730px;
			padding-bottom: 330px;
			padding-left: 120px;
		}
	}
}
