/**
 * Helper mixins
*/

@mixin transition($p) {
  transition-property: $p;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

@mixin border-inset($width, $color) {
  box-shadow: inset $width 0 0 $color,
  inset 0 $width 0 $color,
  inset (-$width) 0 0 $color,
  inset 0 (-$width) 0 $color;
}

@mixin hover() {
  @include hover-mouse-only {
    &:hover {
      @content;
    }
  }

  @include focus() {
    @content;
  }
}

@mixin focus() {
  // sass не поддерживает @supports selector(:focus-visible), но есть обходной путь:
  // https://stackoverflow.com/a/62666132
  @supports #{'\selector(:focus-visible)'} {
    &:focus-visible {
      @content;

      &:not(input):not(textarea),
      &[type='checkbox'] + label {
        outline-offset: .2rem;
        outline: black auto;
      }
    }
  }

  // sass не поддерживает @supports not selector(:focus-visible), но есть обходной путь:
  // https://stackoverflow.com/a/62666132
  @supports not #{'\selector(:focus-visible)'} {
    &[data-focus-visible-added] {
      @content;

      &:not(input):not(textarea),
      &[type='checkbox'] + label {
        outline-offset: .2rem;
        outline: black auto;
      }
    }
  }
}

// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
  ::-moz-selection {
    // sass-lint:disable-line no-vendor-prefixes
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }

  ::selection {
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }
}

//Placeholders
//Usage:
//@include placeholder;
@mixin placeholder {

  // sass-lint:disable no-vendor-prefixes
  ::-webkit-input-placeholder {
    @content
  }

  :-moz-placeholder {
    @content
  }

  ::-moz-placeholder {
    @content
  }

  :-ms-input-placeholder {
    @content
  }
}

@mixin hover-mouse-only() {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin webkit-scrollbar($color: #EAEDF4, $colorActive: #CFD5DD, $width: .6rem) {
  scrollbar-color: $color transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $width;
    height: $width;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $colorActive;
  }
}

@mixin aspect($width: 16, $height: 9) {
  aspect-ratio: math.div($width, $height);

  @supports not (aspect-ratio: math.div($width, $height)) {
    &::before {
      content: '';
      float: left;
      padding-top: calc((#{$height} / #{$width}) * 100%);
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

@mixin aspect-clear() {
  aspect-ratio: unset;

  @supports not (aspect-ratio: unset) {
    &::before,
    &::after {
      display: none;
    }
  }
}
