extends _layouts/default
include _includes/mixins/contacts-element.pug
include _includes/mixins/contacts-addresses.pug

block config
	- var pagetitle = "Index"
	//- not recommended
	- var bodyClass = ""

block head
	link(href=require("../scss/app.scss") rel="stylesheet")

block content
	
	section(class="our-clients")

		div(class="our-clients__header")
			h2(class="our-clients__title")
				| Наши клиенты

		div(class="swiper swiper-client js-our-clients-slider swiper-grid-column")
			div(class="swiper-wrapper")
				each client in [{title: "5 лет вместе", img:"1.svg"}, {title: "1 год вместе", img:"5.svg"}, {title: "1 год вместе", img:"2.svg"}, {title: "2 года вместе", img:"6.svg"}, {title: "1 год вместе", img:"3.svg"}, {title: "1 год вместе", img:"7.svg"}, {title: "1 год вместе", img:"4.svg"}, {title: "", img:"8.svg"},{title: "5 лет вместе", img:"1.svg"}, {title: "1 год вместе", img:"5.svg"}, {title: "1 год вместе", img:"2.svg"}, {title: "2 года вместе", img:"6.svg"}, {title: "1 год вместе", img:"3.svg"}, {title: "1 год вместе", img:"7.svg"}, {title: "1 год вместе", img:"4.svg"}, {title: "", img:"8.svg"}]
					div(class="swiper-slide")
						div(class="client")
							div(class="client__preview")
								- let pathImg = "assets/img/" + client.img
								img(class="client__image" src=pathImg loading="lazy" alt=client.title)
							if client.title
								span(class="client__title")
									= client.title
			div(class="swiper-button-next")
				img(class="swiper-button-img" src="assets/img/arrow-slider-out-clients.svg" alt="icon arrow right")
			div(class="swiper-button-prev")
				img(class="swiper-button-img" src="assets/img/arrow-slider-out-clients.svg" alt="icon arrow left")
			div(class="work-clients")
				img(src="assets/img/avatar2.png" alt="img" class="work-clients__img")
				div(class="work-clients__info")
					| Среднее время работы с клиентом — 5 лет 💙
	section(class="contacts")
		div(class="contacts-container")
			div(class="contacts-left-block")
				div
					h2(class="contacts__title")
						| Обсудить проект
					p(class="contacts__desc")
						| Расскажите о проекте в форме справа или свяжитесь с нами напрямую
				div(class="contacts-elements")
					+contacts-element("email", {link: "hello@riverstart.ru", text: "Написать нам на почту"})
					+contacts-element("telegram", {link: "@ekhohrin", text: "Написать нашему аккаунт- директору в Telegram", img: "assets/img/avatar.png"})
				div(class="contacts-addresses contacts-addresses_desktop")
					div(class="contacts-addresses__wrapper")
						+contacts-address("", {title: "Московский офис", address: "Новая пл., 6", phone: "8 (499) 112-46-21"})
						+contacts-address("", {title: "Нижегородский офис", address: "ул. Рождественская, 26", phone: "8 (831) 2-889-354"})
					+contacts-address("main", {
						title: "Таллинский офис", 
						address: "3 korrus, Metro Plaza, Viru väljak 2", 
						phone: "+372 610-42-53",
						company: {
							info: "Oceanstart LLC<br>Worldwide outsourcing and outstaffing",
							site: {text: "oceanstart.dev", link: "http://oceanstart.dev"},
							img: "assets/img/logo-company.svg"
						}
					})
			div(class="contacts-right-block")
				form(action="" class="form js-form")

					div(class="form__preloader js-form__preloader")
						img(src="assets/img/preloader.svg" alt="img" class="form__preloader-img")

						div(class="form__preloader-wrapper form__preloader-success")
							button(class="form__preloader-btn js-form__preloader-btn" type="button")
								img(src="assets/img/close-button.svg" alt="img" class="form__preloader-btn-img")
							div(class="form__preloader-inner")
								img(src="assets/img/form-success.svg" alt="img")
								h2(class="form__preloader-inner-title")
									| Спасибо за заявку!<br>Мы скоро с вами свяжемся.
								p(class="form__preloader-inner-desc")
									| Благодарим вас за вашу заявку! Наши специалисты уже работают над ней, и мы обязательно свяжемся с вами в ближайшее время.

						div(class="form__preloader-wrapper form__preloader-error")
							button(class="form__preloader-btn js-form__preloader-btn" type="button")
								img(src="assets/img/close-button.svg" alt="img" class="form__preloader-btn-img")
							div(class="form__preloader-inner")
								img(src="assets/img/form-error.svg" alt="img")
								h2(class="form__preloader-inner-title")
									| Произошла ошибка при отправке
								p(class="form__preloader-inner-desc")
									| К сожалению, произошла ошибка при отправке вашего сообщения. Пожалуйста, проверьте ваше подключение к интернету и попробуйте отправить сообщение еще раз
								button(class="btn js-form__preloader-btn" type="button")
									| Отправить заново

					div( class="form-project-type")
						div(class="input-group")
							span(class="input-group__title")
								| Что вас интересует?
							div(class="input-group-wrapper input-group-wrapper_type")
								each project in [{name: "Сайт", state: "default"}, {name: "Веб-сервис", state: "checked"}, {name: "Маркетинг", state: "disabled"}, {name: "Приложение", state: "default"}, {name: "Брендинг", state: "default"}, {name: "Что-то ещё", state: "default"}]
									label(class="input-radio")
										if project.state == "checked"
											input(class="input-radio__el" type="radio" name="projectType" value=project.name checked)
										else if project.state == "disabled"
											input(class="input-radio__el" type="radio" name="projectType" value=project.name disabled)
										else
											input(class="input-radio__el" type="radio" name="projectType" value=project.name)
										span(class="input-radio__text input-radio__text_nowrap")
											= project.name
					div(class="form-user-info")
						div(class="input-group-row")
							div(class="input-group input-group-row__el")
								label(class="input")
									input(class="input__el" type="text" placeholder="" name="name")
									span(class="input__placeholder")
										| Имя
									span(class="input__message-error")
										| Ошибка
							div(class="input-group  input-group-row__el")
								label(class="input")
									input(class="input__el" type="tel" placeholder="" name="phone" data-inputmask="'mask': '+7 (999) 999-99-99'")
									span(class="input__placeholder")
										| Телефон
									span(class="input__message-error")
										| Ошибка
							div(class="input-group  input-group-row__el")
								label(class="input")
									input(class="input__el" type="email" placeholder="" name="mail" data-inputmask="'mask': '*{1,50}[.*{1,50}][.*{1,50}]@*{1,50}.*{1,20}[.*{1,20}][.*{1,20}]'")
									span(class="input__placeholder")
										| Почта
									span(class="input__message-error")
										| Ошибка
					div(class="form-project-info")
						div(class="input-group")
							label(class="input")
								input(class="input__el" type="text" placeholder="" name="message")
								span(class="input__placeholder")
									| Опишите задачу <span class="hidden-ib-lg">своими словами</span>
								span(class="input__message-error")
									| Ошибка
						div(class="form-project-price")
							div(class="input-group")
								span(class="input-group__title")
									| Бюджет (₽):
								div(class="input-group-wrapper input-group-wrapper_merge")
									each price in ["до 500к", "до 1 млн", ">1 млн"]
										label(class="input-radio")
											input(class="input-radio__el" type="radio" name="projectPrice" value=price)
											span(class="input-radio__text")
												= price
						div(class="form-files")
							div(class="wrapper-form-files")
								div(class="input-file js-input-file")
									input(class="input-file__el js-input-file__el" name="file" type="file" id="file" accept=".doc, .docx, .pdf" size="1e+7")
									label(for="file" class="input-file__text")
										img(src="assets/img/attach.svg" alt="img" class="input-file__img")
										| Прикрепить бриф
								a(class="link" href="#")
									img(src="assets/img/link-file.png" alt="img")
									span(class="link__text")
										| Наш бриф в Google Docs
										img(src="assets/img/link-arrow.svg" alt="img")
							div(class="wrapper-download-file js-wrapper-download-file")
								div(class="wrapper-download-file__info")
									img(src="assets/img/doc-icon.svg" alt="img" class="wrapper-download-file__img")
									span(class="wrapper-download-file__info-text js-wrapper-download-file-text")
								button(class="js-wrapper-download-file__remove wrapper-download-file__remove" type="button")
									img(src="assets/img/close-button.svg" alt="img" class="wrapper-download-file__close-img")
									| Удалить
							div(class="wrapper-download-file wrapper-download-file_error js-wrapper-download-file-message")
								div(class="wrapper-download-file__info")
									span(class="wrapper-download-file__info-text js-wrapper-download-file-message-text")


					<br>	
					button(class="btn" type="submit")
						| Оставить заявку
					div(class="form-pol")
						span(class="form-pol__text")
							| Нажав на кнопку, вы соглашаетесь с политикой 
						a(class="form-pol__link" href="#")
							| обработки персональных данных
			div(class="contacts-addresses contacts-addresses_mobile")
				div(class="contacts-addresses__wrapper")
					+contacts-address("", {title: "Московский офис", address: "Новая пл., 6", phone: "8 (499) 112-46-21"})
					+contacts-address("", {title: "Нижегородский офис", address: "ул. Рождественская, 26", phone: "8 (831) 2-889-354"})
				+contacts-address("main", {
					title: "Таллинский офис", 
					address: "3 korrus, Metro Plaza, Viru väljak 2", 
					phone: "+372 610-42-53",
					company: {
						info: "Oceanstart LLC<br>Worldwide outsourcing and outstaffing",
						site: {text: "oceanstart.dev", link: "http://oceanstart.dev"},
						img: "assets/img/logo-company.svg"
					}
				})