mixin contacts-element(type, params)
    - let cls = "contacts-element"
    if type == "telegram"
        - cls += " contacts-element_telegram"

    div(class=cls)
        if type == "email"
            div(class="contacts-element__preview")
                - const mailto = "mailto:" + params.link
                a(class="contacts-element__link" href=mailto)
                    = params.link
        else if type == "telegram"
            div(class="contacts-element__preview")
                img(src=params.img alt="img" class="contacts-element__img")
                a(class="contacts-element__link" href="mailto:hello@riverstart.ru")
                    = params.link
        
        if params.text
            span(class="contacts-element__text")
                = params.text