mixin contacts-address(type, params)
    - const linkPhone = "tel:" + params.phone
    - let cls = "contacts-address"
    if type == "main"
        - cls += " contacts-address_main"

    div(class=cls)
        if type == "main"
            div(class="contacts-address__header")
                span(class="contacts-address__title")
                    = params.title
                span(class="contacts-address__text")
                    = params.address
                a(class="contacts-address__link" href=linkPhone)
                    = params.phone
            div(class="contacts-address__footer")
                div(class="contacts-address__footer-info")
                    span(class="contacts-address__text") !{params.company.info}
                    a(class="contacts-address__link contacts-address__footer-info-link" href=params.company.site.link) 
                        = params.company.site.text
                        img(src="assets/img/icon-link.svg" alt="img")
                div()
                    img(src=params.company.img alt="img" class="contacts-address__logo")
            div(class="contacts-address__bg")
        else
            span(class="contacts-address__title")
                = params.title
            span(class="contacts-address__text")
                = params.address
            a(class="contacts-address__link" href=linkPhone)
                = params.phone