/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* .container, breakpoints (up, down, only, between) */
@import 'base/grid';

/* Vendor */

/* Components */
@import 'components/base';
@import 'components/header';
@import 'components/content';
@import 'components/footer';
@import 'components/block';
@import 'components/rte';
@import 'components/demo';
@import 'components/our-clients';
@import 'components/contacts';

@import 'swiper/css/bundle';

.body {
    font-family: 'Mabry Pro';
    background-color: #1F2032;
}

.our-clients {

    .our-clients__header {
        padding: 54px 30px 44px 30px;
        @include up(md) {
            padding: 88px 34px 82px 34px;
        }
        @include up(lg) {
            padding: 56px 80px 60px 80px;
        }
        @include up(xl) {
            padding: 96px 120px 86px 120px;
        }
    }

    .our-clients__title {
        font-size: 42px;
        line-height: 110%;
        letter-spacing: -0.84px;
       
        color: #F7F7FA;
        @include up(lg) {
            font-size: 56px;
            line-height: 120%;
            letter-spacing: -1.68px;
        }
        @include up(xl) {
            font-size: 85px;
            line-height: 120%;
            letter-spacing: -2.55px;
        }
    }
}

.client {
    max-width: 340px;
    width: 100%;
    height: 100%;

    .client__preview {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client__image {
        max-width: 100%;
    }

    .client__title {
        display: block;
        width: 100%;
        
        color: $color-additional-gray;
        text-align: center;
        font-family: 'Mabry Pro';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0.26px;

        padding-top: 22px;
        text-align: center;
        @include up(md) {
        }
        @include up(lg) {
        }
        @include up(xl) {
            font-size: 20px;
            line-height: 120%;
        }
    }
}



.form-project-type {
    padding-bottom: 50px;
    @include up(md) {
        padding-bottom: 60px;
    }
    @include up(xl) {
        padding-bottom: 96px;
    }
}
.form {
    position: unset;
    .form__preloader-wrapper {
        display: none;
        width: 100%;
        height: 100%;
        padding: 40px 30px;
        @include up(xl) {
            padding: 132px 90px;
        }
    }
    .form__preloader-success {
    }
    .form__preloader-error {
    }
    .form__preloader {
        position: absolute;
        display: none;
        z-index: 10;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: #EEEFF4;

        align-items: center;
        justify-content: center;


        &.form__preloader_show {
            display: flex;
        }

        &.form__preloader_success {
            .form__preloader-img { display: none; }
            .form__preloader-success { display: flex;}
        }

        &.form__preloader_error {
            .form__preloader-img { display: none; }
            .form__preloader-error { display: flex; }
        }
    }
    .form__preloader-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px 0px;
        @include up(xl) {
            gap: 56px 0px;
        }
    }
    .form__preloader-inner-title {
        color: #15141A;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: -0.61px;
        max-width: 648px;
        @include up(md) {
            font-size: 32px;
        }
        @include up(lg) {
            font-size: 56px;
        }
        @include up(xl) {
            font-size: 61px;
        }
    }
    .form__preloader-inner-desc {
        color: #15141A;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        max-width: 648px;
        @include up(md) {
            font-size: 18px;
        }
        @include up(xl) {
            font-size: 26px;
        }
    }
    .form__preloader-img {
        animation: form-preloader 1.2s linear infinite;
    }
    .form__preloader-btn {
        position: absolute;
        z-index: 2;
        top: 62px;
        right: 62px;
    }
}
@keyframes form-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form-wrapper {
    position: relative;
}
.input-group-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 42px 10px;
    .input-group-row__el {
        width: 100%;
        &:nth-child(2) {
            @include up(md) {
                width: calc(50% - 18px);
            }
        }
        &:nth-child(3) {
            @include up(md) {
                width: calc(50% - 18px);
            }
        }
    }
    @include up(md) {
        gap: 46px 36px;
    }
    @include up(lg) {
        gap: 46px 17px;
    }
    @include up(xl) {
        gap: 79px 14px;
    }
}
.input-group {
    width: 100%;
    .input-group__title {
        display: block;
        color: $color-additional-gray;

        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0.15px;
        padding-bottom: 15px;
        
        @include up(xl) {
            font-size: 22px;
            letter-spacing: 0.22px;
            padding-bottom: 24px;
        }
    }

    .input-group-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 13px 11px;

        &.input-group-wrapper_merge {
            gap: 0px;
            flex-wrap: nowrap;
            .input-radio {
                flex-grow: 1;
                overflow: visible;

                .input-radio__text {
                    border-radius: 0px;
                    border-left: 0px;
                    border-right: 0px;
                }

                &:first-child {
                    .input-radio__text {
                        border: 2px solid rgba(31, 32, 50, 0.1);
                        border-radius: 16px 0px 0px 16px;
                    }
                }
                &:last-child {
                    .input-radio__text {
                        border: 2px solid rgba(31, 32, 50, 0.1);
                        border-radius: 0px 16px 16px 0px;
                    }
                }
            }
        }
        &.input-group-wrapper_type {
            margin-left: -30px;
            margin-right: -30px;
            padding-left: 30px;
            flex-wrap: nowrap;
            overflow: auto;
            padding-bottom: 10px;
            @include up(md) {
                margin-left: -40px;
                margin-right: -40px;
                padding-left: 40px;
            }
            @include up(lg) {
                margin: 0px;
                padding: 0px;
                flex-wrap: wrap;
            }
        }
    }
}

.input {
    display: block;
    position: relative;
    .input__placeholder {
        position: absolute;
        z-index: 2;
        left: 0px;
        bottom: 100%;
        

        color: var(--additional-gray, #9A9AAD);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 35.2px */
        letter-spacing: 0.14px;

        transition: 0.3s;
    }
    .input__el {
        width: 100%;
        background: none;
        border: 0px;
        border-bottom: 2px solid #E0E0E4;

        padding: 0px 0px 20px 0px;

        color: $color-primary-black;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        font-size: 15px;
        letter-spacing: 0.15px;

        &:placeholder-shown + .input__placeholder {
            bottom: 20px;
            font-size: 15px;
            letter-spacing: 0.22px;
            @include up(xl) {
                font-size: 22px;
            }
        }
        &:hover {
            border-color: #9A9AAD;
        }

        &:focus {
            border-color: var(--primary-blue, #312DFF);
        }
        &:focus + .input__placeholder {
            color: var(--primary-blue, #312DFF);
            font-size: 14px;
            bottom: 100%;
        }
        @include up(xl) {
            font-size: 15px;
            letter-spacing: 0.22px;
            @include up(xl) {
                font-size: 22px;
            }
        }
        
    }

    

    .input__message-error {
        display: none;
        position: absolute;
        left: 0px;
        top: 100%;
    }
    .input__message-error {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0.14px;
    }
    &.input_error {
        .input__el {
            border-color: #E8412A;
        }
        .input__message-error {
            display: block;
            color: #E8412A;
        }
    }
}

.input-radio {
    .input-radio__el {
        display: none;
    }

    .input-radio__text {
        display: block;

        cursor: pointer;
        border-radius: 16px;
        border: 2px solid rgb(31, 32, 50, 0.1);
        padding: 18px 47px;

        color: $color-primary-black;
        text-align: center;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.14px;
        padding: 11px 12px;

        &.input-radio__text_nowrap {
            white-space: nowrap;
        }

        @include up(md) {
        }
        @include up(lg) {
        }
        @include up(xl) {
            padding: 11px 32px;
            font-size: 20px;
            letter-spacing: -0.2px;
        }
    }
    
    .input-radio__el:checked + .input-radio__text {
        cursor: default;
        background: rgb(31, 32, 50, 0.1);
    }

    .input-radio__el:hover:not(.input-radio__el:checked) + .input-radio__text {
        background: var(--primary-blue, rgb(49, 45, 255));
        border-color: var(--primary-blue, rgb(49, 45, 255));
        color: var(--primary-gray, #F7F7FA);
    }
}


.btn {
    padding: 23px 10px;
    border-radius: 16px;
    background: $color-primary-blue;
    width: 100%;


    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 0.16px;

    &:hover {
        background: $color-blue-hover;
    }

    @include up(lg) {
        min-width: 288px;
        width: auto;
    }
    @include up(xl) {
        min-width: 374px;
        padding: 30px 10px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.2px;
    }
}

.form-user-info {
    padding-bottom: 90px;
    @include up(md) {
        padding-bottom: 98px;
    }
    @include up(lg) {
        padding-bottom: 94px;
    }
    @include up(xl) {
        padding-bottom: 182px;
    }
}
.form-project-info {
    padding-bottom: 35px;
    @include up(xl) {
        padding-bottom: 67px;
    }
}
.form-project-price {
    padding-top: 52px;
    padding-bottom: 36px;
    @include up(md) {
        padding-top: 70px;
    }
    @include up(lg) {
        padding-top: 54px;
    }
    @include up(xl) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}


.input-file {
    .input-file__el {
        display: none;
    }
    .input-file__img {
        width: 18px;
        @include up(xl) {
            width: 28px;
        }
    }
    .input-file__text {
        display: flex;
        align-items: center;
        gap: 15px;

        color: $color-primary-black;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.14px;
        @include up(xl) {
            font-size: 20px;
            letter-spacing: -0.2px;
        }
    }
}

.wrapper-download-file {
    display: none;
    align-items: center;
    margin-top: 18px;
    .wrapper-download-file__info {
        display: flex;
        padding: 12px 16px;
        gap: 15px;
        border-radius: 12px;
        background: #DEDEF8;

        color: #312DFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.2px;
    }
    .wrapper-download-file__close-img {
        transform: 0.3s;
    }
    .wrapper-download-file__remove {
        display: flex;
        align-items: center;
        gap: 8px;
        
        color: #1F2032;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.16px;
        &:hover {
            .wrapper-download-file__close-img {
                transform: scale(1.04);
            }
        }
    }
    &.wrapper-download-file_show {
        display: flex;
        gap: 0px 16px;
    }
    &.wrapper-download-file_error {
        .wrapper-download-file__info {
            background: rgba(232, 65, 42, 0.05);
            color: #E8412A;
        }
    }
}

.wrapper-form-files {
    display: flex;
    flex-direction: column;
    gap: 20px 60px;

    @include up(md) {
    }
    @include up(lg) {
        flex-direction: row;
    }
    @include up(xl) {
    }
}

.link {
    display: flex;
    align-items: center;
    gap: 0px 9px;
    text-decoration: none;

    
    &:hover {
        color:  #1F2032;
    }

    .link__text {

        display: flex;
        align-items: flex-end;
        gap: 0px 5px;

        img {
            margin-bottom: 2px;
        }
        
        color: #1F2032;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.14px;
        @include up(xl) {
            font-size: 20px;
            letter-spacing: -0.2px;
            line-height: 100%;
        }
    }
}

.form-pol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    .form-pol__text {
        color: rgba(21, 20, 26, 0.40);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.16px;
    }
    .form-pol__link {
        text-decoration: none;
        color: $color-primary-black;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.16px;
        @include up(lg) {
            color: $color-primary-blue;
        }
    }
    @include up(md) {
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }
    @include up(lg) {
        padding-top: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
    @include up(xl) {
        padding-top: 64px;
    }
}



.pol {
    color: var(--primary-gray, #F7F7FA);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.12px;
}








.privacy-text {
    color: $color-additional-gray;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.12px;
    opacity: 0.9;

    @include up(xl) {
        color: $color-primary-gray;
        font-size: 16px;
        letter-spacing: 0.16px;
    }
}

.company-info {
    display: flex;
    align-items: center;
    gap: 7px;

    color: $color-additional-gray;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.12px;

    .company-info__img {
        display: block;
        width: 15px;
        @include up(md) {
            border-radius: 100%;
        }
        @include up(lg) {
            border-radius: 0%;
        }
        @include up(xl) {
            width: 19px;
        }
    }

    @include up(xl) {
        font-size: 16px;
        letter-spacing: 0.16px;
    }
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: 0px 40px;
    .socials__icon {
        display: block;
        @include up(md) {
            transform: scale(1.1);
        }
        @include up(lg) {
            transform: scale(1.2);
        }
        @include up(xl) {
            transform: scale(1.3);
        }
    }
    
    @include up(md) {
        justify-content: flex-end;
    }
}



.work-clients {
    position: absolute;
    left: 30px;
    bottom: 47px;
    z-index: 2;
    display: flex;
    align-items: center;
    .work-clients__img {
        width: 66px;
        border-radius: 100%;
        @include up(xl) {
            width: 84px;
        }
    }
    .work-clients__info {
        margin-left: -10px;
        background-image: url('src/assets/img/avatar2_bg.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 233px;
        min-height: 73px;
        padding: 16px 21px 15px 31px;

        color: $color-primary-black;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 20.8px */
        @include up(xl) {
            font-size: 22px;
            width: 310px;
            min-height: 97px;
        }
    }
    @include up(lg) {
        left: 40px;
        bottom: 0px;
    }
    @include up(xl) {
        left: 5%;
        bottom: 87px;
    }
}


.hidden-ib-lg {
    display: none;
    @include up(xl) {
        display: inline-block;
    }
}